* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Global colors */
:root {
  --color-gray: #a8a8a8;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #a31700;
  --color-secondary: #2f2e41;
  --color-tertiary: #3f3d56;
}

/* Navigation Menu Styling */
nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: var(--color-black);
  padding: 15px;
  z-index: 999;
}

nav .logo img {
  position: relative;
  width: 70%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background: var(--color-primary);
}

nav .logo img a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}

nav .nav-links ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

nav .nav-links ul li a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 700) {
  nav {
    flex-direction: column;
  }
}
