* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: black;
    color: white;
}

.wrapper {
    margin-left: 50px;
}

span {
    color: red;
}

.buttons {
    padding-top: 3pc;
}

.buttons button {
    padding: 10px 18px 10px 18px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    color: white;
}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.55;
}

#button1 {
    background: red;
}

.buttons #button2 {
    border: 1px solid red;
    background: transparent;
    margin-left: 15px;
}
=======
 

/* Global colors */
:root {
  --color-gray: #a8a8a8;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #a31700;
  --color-secondary: #2f2e41;
  --color-tertiary: #3f3d56;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: var(--color-black);
  padding: 15px;
}

nav .logo span {
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: var(--color-primary);
}

nav .logo span a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}

nav .nav-links ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

nav .nav-links ul li a:hover {
  color: var(--color-primary);
}
