* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--page-color);
}

html {
  scroll-behavior: smooth;
}

/* Global colors */
:root {
  --color-gray: #a8a8a8;
  --page-color: #010101;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #a31700;
  --color-secondary: #2f2e41;
  --color-tertiary: #3f3d56;
}

/* Navigation Menu Styling */
nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px 20px;
  z-index: 999;
}

.shape {
  content: "";
  position: absolute;
  top: -40px;
  left: 30px;
  filter: blur(80px);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: var(--color-primary);
  z-index: -1;
}

nav .logo img {
  position: relative;
  border-radius: 10px;
  width: 80%;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

nav .logo span a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}

nav .nav-links ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links ul li {
  list-style: none;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

nav .nav-links ul li a:hover {
  color: var(--color-primary);
}

nav .container {
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--color-tertiary);
  border-radius: 10px;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

/* Header Styling */

header {
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 10rem;
  z-index: 10;
}
.content-wrapper {
  margin-left: 20px;
  color: var(--color-gray);
}

span {
  color: var(--color-primary);
}

.buttons {
  padding-top: 3pc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.buttons a {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  color: white;
}

.buttons .button1 {
  background: var(--color-primary);
  transition: 0.3s ease;
}

.buttons .button1:hover {
  background: #871c0c;
}

.buttons .button2 {
  background: transparent;
  transition: 0.3s ease;
  text-decoration: none;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.buttons .button2:hover {
  background: var(--color-primary);
}

/* Media query */
@media screen and (max-width: 750px) {
  nav .nav-links ul {
    display: none;
    right: 0;
  }

  .nav-links li {
    padding: 15px 5px;
    margin-top: 10px;
    border-bottom: 1px solid #555;
  }

  nav .nav-links {
    padding: 30px 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(82, 76, 76, 0.181);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    right: 0;
    position: fixed;
    height: 100vh;
    margin-bottom: 10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: baseline;
    transition: 0.3s ease-in-out;
  }

  nav .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  nav .nav-links ul li a {
    color: #f5ebeb;
    font-size: 16px;
    padding: 10px 0;
    margin: 50px;
    font-weight: 700;
    transition: 0.3s ease;
  }

  nav .container {
    display: block;
    z-index: 99;
  }
}
